*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Library;
    src: url("../fonts/Library\ 3\ am\ soft.otf");
}

:root {
    height: 100%;
    width: 100%;
    font-family: Library, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    --background-color: #ccfbf1;
    --header-background-color: #34d399;
    --nav-background-color: #22c55e;
    --book-details-background-color: #f0fdf4;
    --card-background-color: #d1fae5;
    --modal-background-color: #d1fae5;

    --header-box-shadow: 2px 2px 4px #374151;
    --nav-box-shadow: 2px 2px 4px #374151;
    --card-box-shadow: 4px 4px 4px #374151;
    --book-details-box-shadow: 2px 2px 4px #374151;
    --modal-box-shadow: 4px 4px 4px #374151;

    --text-shadow-header: 4px 4px 4px #374151;

    --modal-border: 4px solid #34d399;
    --addSubmit-button-border: 2px solid black;
    --addBook-button-border: 2px solid black;

    --addBook-button-color: #dcfce7;
    --modal-backdrop-color: rgb(0 0 0 / 0.7);
    --addSubmit-button-color: #4ade80;
    --delete-button-color: #ef4444;
    --xModal-button-color: #fecaca;
    --delete-text-color: white;
    

    --hover-addBook-button-color: rgba(255, 255, 255, .60);
    --hover-addSubmit-button-color: rgba(255, 255, 255, .60);
    --hover-delete-button-color: rgba(93, 93, 93, 0.315);
    --hover-xModal-button-color: rgba(255, 255, 255, .60);
    --hover-social-icons-color: invert(97%) sepia(0%) saturate(2217%) hue-rotate(244deg) brightness(112%) contrast(66%);

}

body {
    background-color: var(--background-color);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    grid-template-rows: 1fr repeat(2, 3fr);
}

/* Header Content */
.header-container {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    padding: 2em;
    background-color: var(--header-background-color);
    box-shadow: var(--header-box-shadow);
    text-shadow: var(--text-shadow-header);

}

.header-container span {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    font-size: clamp(1rem, 0.5500rem + 2.0000vw, 2.5rem);
}

.socials {
    grid-column: 2 / -1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3em;
}

.socials img {
    height: clamp(1.5rem, 0.5500rem + 2.0000vw, 2.5rem);
    width: clamp(1.5rem, 0.5500rem + 2.0000vw, 2.5rem);

}

.socials img:hover {
    cursor: pointer;
    filter: var(--hover-social-icons-color);
}


/* Main Content Section */
.main-content {
    grid-area: 2 / 1 / -1 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    gap: 1.5em;
    padding: 1.5em;
    height: 100%;

}

/* Card Content */
.card {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    gap: 1.5em;
    padding: 1.5em;
    border: 2px solid black;
    border-radius: 8px;
    width: 250px;
    height: 100%;
    transition: all 0.5s ease-in-out;
    background-color: var(--card-background-color);
    box-shadow: var(--card-box-shadow);
    overflow: scroll;
}

.card:hover {
    transform: scale(1.1);
}

.delete {
    width: 75px;
    height: 25px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    background-color: var(--delete-button-color);
    color: var(--delete-text-color);
}

.delete:hover {
    cursor: pointer;
    background-color: var(--hover-delete-button-color);
}

.read-check {
    display: flex;
    gap: 1em;
}

/* Add Book button section */
#addBook {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 2%;
    bottom: 2%;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: var(--addBook-button-border);
    background-color: var(--addBook-button-color);
}

#plusButton {
    width: 2.5rem;
    height: 2.5rem;
}

#addBook:hover {
    cursor: pointer;
    background-color: var(--hover-addBook-button-color);
}

/* Modal and form content */
#modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 30rem;
    height: 30rem;
    box-shadow: var(--modal-box-shadow-box-shadow);
    border: var(--modal-border);
    background-color: var(--modal-background-color);
}

.modal::backdrop {
    background: var(--modal-backdrop-color);
}

#close-modal { 
    position: absolute;
    top: 1%;
    right: 1%;
    border: none;
    border-radius: 10px;
    height: 25px;
    width: 25px;
    font-weight: bold;
    background-color: var(--xModal-button-color);
}

#close-modal:hover {
    cursor: pointer;
    background-color: var(--hover-xModal-button-color);
}

#form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

input {
    border-radius: 6px;
    padding: 0.5em;
}

.check {
    display: flex;
    align-items: center;
}

.add {
    width: 9.375rem;
    height: 3rem;
    border-radius: 20px;
    font-size: 1rem;
    background-color: var(--addSubmit-button-color);
    border: var(--addSubmit-button-border);

}

.add:hover {
    cursor: pointer;
    background-color: var(--hover-addSubmit-button-color);
}

