*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Library;
    src: url("../fonts/Library\ 3\ am\ soft.otf");
}

:root {
    height: 100%;
    width: 100%;
    font-family: Library, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --header-background-color: #34d399;
    --header-box-shadow: 2px 2px 4px #374151;
    --nav-background-color: #22c55e;
    --nav-box-shadow: 2px 2px 4px #374151;
    --card-background-color: #dcfce7;
    --card-box-shadow: 4px 4px 4px #374151;
    --book-details-background-color: #f0fdf4;
    --book-details-box-shadow: 2px 2px 4px #374151;
    --button-color: #dcfce7;
    --background-color: #ccfbf1;
}

body {
    background-color: var(--background-color);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    grid-template-rows: 1fr repeat(2, 3fr);
}

/* Header Content */
.header-container {
    background-color: var(--header-background-color);
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    padding: 2em;
    box-shadow: var(--header-box-shadow);
    text-shadow: 4px 4px 4px #374151;

}

.header-container span {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    font-size: clamp(1rem, 0.5500rem + 2.0000vw, 2.5rem);
}

.socials {
    grid-column: 2 / -1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3em;

}

.socials img {
    height: clamp(1.5rem, 0.5500rem + 2.0000vw, 2.5rem);
    width: clamp(1.5rem, 0.5500rem + 2.0000vw, 2.5rem);

}


/* Main Content Section */
.main-content {
    grid-area: 2 / 1 / -1 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5em;
    padding: 1.5em;
    height: 100%;

}


.card {
    background-color: var(--card-background-color);
    box-shadow: var(--card-box-shadow);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    border: 2px solid black;
    width: 250px;
    padding: 1.5em;
    transition: all 0.5s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}


.add {
    border: none;
    font-weight: bold;
    background-color: var(--button-color);
    border-radius: 1.25rem;
    width: 7.25rem;
    height: 2.125rem;
}

.add:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .60);
}


